body {
  padding-top: 4.0rem;
}
body {
    background-color: #fffdfc
}

.sidebar-nav {
    list-style: none;
    margin-top: 10px;
}

.card {
min-height: 400px;
width: 100%;
}
.card-body{
height: 25%;
}
.card img{
height: 75%;
object-fit: contain;
}

.custom-bg {
  background-color: #e9ecef;
}
