{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link href="{% static 'css/bg.css' %}" rel="stylesheet"/>
<main role="main">
    <div class="container">
        <div class="custom-bg py-5 col">
            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group" >
                                <legend class="border-bottom mb-4">Update project</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Update</button>
                                <a class="btn btn-outline-secondary" href="{% url 'projects' %}">Return</a>
                            </div>
                        </form>
                    </div>
                </div>
    </main>
{% endblock %}

