{% extends 'base.html' %}
{% block content %}

<h1>{{task.title}}</h1>
<hr/>
<div>
    {% for projects in customer.project_set.all %}
    <p><a href="{% url 'project' projects.id %}">{{projects.name}}</a></p>
    {% endfor %}
</div>

<dl class="row">
  <dt class="col-sm-3">Description </dt>
  <dd class="col-sm-9">{{task.description}}</dd>

  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9">
    <p>{{task.status}}</p>
  </dd>

  <dt class="col-sm-3">Due date:</dt>
  <dd class="col-sm-9">{{task.due_date}}</dd>


    {% for person in task.workertask_set.all %}
    <dt class="col-sm-3">Assigned person:</dt>
    <dd class="col-sm-9">{{person.worker.user}} Role: {{person.worker.role}}</dd>
    {% endfor %}
</dl>
{% load custom_filters %}
    {% if user|in_group:'worker' %}
<div class="container">
  {% if user.is_authenticated %}
    <div>
        <h5>Leave a Comment</h5>
        <form method="post">
            {% csrf_token %}
            {{ form.content }}
            <div>
                <input type="submit" class="btn btn-outline-success btn-sm" value="Save Comment"/>
            </div>
        </form>
    </div>
    <hr>
  {% endif %}
{% endif %}
   <h5>Comments:</h5>
  {% if task.comment_set.all %}
    {% for comment in task.comment_set.all %}
      <hr>
      <small><b>{{ comment.author }}</b> <em>{{ comment.date_created }}:</em></small>
      <p class="bg-light">{{ comment.content }}</p>
    {% endfor %}
  {% else %}
    <p>No comments on this task</p>
  {% endif %}
</div>



{% endblock %}