{% extends 'base.html' %}
{% block content %}

<main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome to the Time Managment app!</h1>
          At the moment we have {{ num_projects }} projects, and continue searching for more opportunities.
            We have {{ num_employee }} employees working all over the world.
            To get more information about our projects you can press on Learn more
          <p><a class="btn btn-primary btn-lg" href="{% url 'projects' %}" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

    <div class="jumbotron">
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Newly built school</h2>
            <p>Newly built school requires all kind of electrical jobs</p>
            <p><a class="btn btn-secondary" href="projects/3" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Supermarket</h2>
            <p>Newly built supermarket, wiring and other mechanical jobs should be done</p>
            <p><a class="btn btn-secondary" href="projects/2" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Wind turbine installation GE</h2>
            <p>In fields near Kaunas should be raise 10 GE turbines</p>
            <p><a class="btn btn-secondary" href="projects/4" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
    </div>
</main>

    <footer class="container">
      <p>&copy; TimeManager 2024</p>
      <p>Got any questions ? <a href="mailto:time.manager@gmail.com"> Send us an email</a></p>
    </footer>


{% endblock %}