{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link href="{% static 'css/bg.css' %}" rel="stylesheet"/>

<form method="post">
    {% csrf_token %}
<main role="main">
    <div class="container">
        <div class="custom-bg py-5 col">
                            <fieldset class="form-group" >
                                <legend class="border-bottom mb-4">Assign people to a task</legend>
                                {{ formset|crispy }}

                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Update</button>
                                <a class="btn btn-outline-secondary" href="{% url 'tasks' %}">Return</a>
                            </div>

                    </div>
                </div>

        </main>
</form>

{% endblock %}