{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create a worker</legend>
        {{ user_worker_form | crispy }}
        {{ worker_group_form | crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Save</button>
        <a class="btn btn-outline-secondary" href="">Cancel</a>
    </div>

</form>


{% endblock %}