{% extends 'base.html' %}
{% block content %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>Username</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <button type="submit" class="btn btn-light ">Login</button>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>
<p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

{% endblock %}