{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>All projects</h1>
<hr>
{% load static %}
<link href="{% static 'css/album.css' %}" rel="stylesheet"/>

<body>
  <main role="main">
    <div class="album py-5 custom-bg">

      <div class="container">
        <div class="row">
          {% for project in project_list %}
            <div class="col-md-4 d-flex">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ project.picture.url }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ project.name }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'project' project.id %}">View</a>
                      {% load custom_filters %}
                      {% if user.is_authenticated %}
                      {% if user|in_group:'manager' %}
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'project-update' project.id %}">
                          Edit
                        </a>
                      {% endif %}
                      {% endif %}
                    </div>
                    <small class="text-muted">Start Date: {{project.project_start}}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.album -->
  </main>
</body>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
      </div>
    </footer>



{% endblock %}