{% extends 'base.html' %}
{% block content %}
<h1>All Workers</h1>
<hr>
{% load static %}
<link href="{% static 'css/album.css' %}" rel="stylesheet"/>

<body>
  <main role="main">
    <div class="album py-5 custom-bg">
      <div class="container">
        {% if group_list %}
        {% for group in group_list %}
          <div class="card-body mb-4">
            <p class="card-text">Worker: {{ group.worker.user.username }}</p>
            <p class="card-text">Project: {{ group.project.name }} Vehicle: {{ group.vehicle.license_plate }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'group-delete' group.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
              </div>
              <small class="text-muted">Date joined: {{ group.worker.user.date_joined }}</small>
              <small class="text-muted">Status: {{ group.worker.status }}</small>
            </div>
          </div>
        {% endfor %}
        {% else %}
        <p>No workers assigned at the moment.</p>
        {% endif %}
      </div> <!-- /.container -->
    </div> <!-- /.album -->
  </main>
</body>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>




{% endblock %}